{% extends 'beerreviews\base.html' %}
{% block title %} Profile {% endblock %}
<!-- https://simpleisbetterthancomplex.com/tutorial/2016/06/27/how-to-use-djangos-built-in-login-system.html -->
{% block content %}

<div class="ui container">
    <h1>Edit password</h1>
    <div class="ui">
        <hr />
        <form class="ui" method="post">
            {% csrf_token %}
            {{ form }}
            <hr />
            <button class="ui button" type="submit">Save changes</button>
        </form>
    </div>
</div>

{% endblock %}