<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"/>
    <link rel="stylesheet" href="{% static 'style.css'%}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
<!-- sidebar -->
<div class="ui vertical inverted sidebar menu">
    <a class="{% if request.resolver_match.url_name == "index" %}active{% endif %} item"  href="{% url 'index' %}">Home</a>
	<a class="{% if request.resolver_match.url_name == "beers" %}active{% endif %} item" href="{% url 'beers:beers' %}">Our beers</a>
    <a class="{% if request.resolver_match.url_name == "top" %}active{% endif %} item" href="{% url 'beers:top' %}">Top 10</a>
</div>
<!-- pushable -->
<div class="pusher">
    <div class="ui inverted vertical center aligned segment">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="{% if request.resolver_match.url_name == "index" %}active{% endif %} item" href="{% url 'index' %}">Home</a>
				<a class="{% if request.resolver_match.url_name == "beers" %}active{% endif %} item" href="{% url 'beers:beers' %}">Our beers</a>
                <a class="{% if request.resolver_match.url_name == "top" %}active{% endif %} item" href="{% url 'beers:top' %}">Top 10</a>

                <div class="right bottom item tobepadded">
                    {% if user.is_authenticated %}
                    <div class="ui inverted">
                        <p class="ui">Welcome, {{ user.username }}</p>
                        <a class="ui inverted button" href="{% url 'users:logout' %}">Logout</a>
                        <a class="ui inverted button" href="{% url 'users:profile' %}">Profile</a>
                    </div>
                    {% else %}
                    <div class="ui inverted">
                        <a class="ui inverted button" href="{% url 'users:login' %}">Log in</a>
                        <a class="ui inverted button"  href="{% url 'users:signup' %}">Sign Up</a>
                    </div>
                    {% endif %}
                    <div class="ui search hm">
                        <input class="prompt" placeholder="Search beers..." type="text">
                        <div class="results"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% block content %}{% endblock %}

</div>
</body>
</html>
