<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8" />
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"/>
  <link rel="stylesheet" href="{% static 'style.css'%}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="{% static "scr/main.js"%}"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
  <!-- sidebar -->
    <div class="ui vertical inverted sidebar menu">
      <a class="active item">Home</a>
      <a class="item">Top 50</a>
      <a class="item">Rate a beer</a>
    </div>
  <!-- pushable -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
      <div class="ui container">
       <div class="ui large secondary inverted pointing menu">
         <a class="toc item">
           <i class="sidebar icon"></i>
         </a>
         <a class="active item" href="/beers">Home</a>
         <a class="item">Top 50</a>
         <a class="item">Rate a beer</a>
         <div class="right item tobepadded">
           <a class="ui inverted button">Log in</a>
           <a class="ui inverted button">Sign Up</a>
           <div class="ui search hm">
           <input class="prompt" placeholder="Search beers..." type="text">
           <div class="results"></div>
           </div>
         </div>
       </div>
     </div>

</div>
  <div class="ui container">
      {% block content %}{% endblock %}
  </div>
</div>
</body>
</html>
