{% extends 'beerreviewsapp/base.html' %}
{% block content %}
<div class="ui container ">
  <div class="ui">
    <div class="beer">
      <img src="{{beer.country.flag}}">
      <img class="beer-image ui medium left floated circular image" src="{{beer.imgsrc}}"}>
      <h2>{{beer.name}}</h2>
      <h3>{{beer.maker.name}}</h3>
      <h4><em>Style :</em> {{beer.style.name}}</h4>
      <h5><em>EDC :</em> {{beer.ebc}}</h5>
      <p>{{beer.description}}</p>
      <a href="{{beer.pk}}/rate" class="ui button red">Rate this beer</a>
    </div>
  </div>
</div>
{% endblock %}
