{% extends 'beerreviews/base.html' %}
{% block content %}

<div class="ui container ">
    <div class="ui">
        <div class="beer">
            <img src="{{beer.country.flag}}">
            <img class="beer-image ui medium left floated circular image" src="{{beer.imgsrc}}" }>
            <h2>{{beer.name}}</h2>
            <h3>{{beer.maker.name}}</h3>
            <h5><em>Style :</em> {{beer.style.name}}</h5>
            <h5><em>ABV :</em> {{beer.abv}} %</h5>
            <h5><em>EBC :</em> {{beer.ebc}}</h5>
            <h5><em>IBU :</em> {{beer.ibu}}</h5>
        </div>

        <div class="ui beer container">
            <h3>Description :</h3>
            <p>{{beer.description}}</p>
        </div>

        <div class="ui reviews container">
            <h3>Rate this beer :</h3>
            <div>
                <form class="ui form" method="post" action="{% url 'beers:create_review' beer.id %}">
                    {% csrf_token %}
                    <div class="inline fields">
                        <div class="ten wide field">
                            <label>Comment</label>
                            <textarea name="comment" rows="2" maxlength="512"></textarea>
                        </div>
                        <div class="six wide field">
                            <label>Rating</label>
                            <select class="ui dropdown" name="rating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <button class="ui button red" type="submit">Rate</button>
                </form>
                {% include 'beerreviews/error.html' %}
            </div>
        </div>
    </div>

</div>
<div class="ui reviews container">
    <h2>Reviews</h2>
    <div class="ui list">
        {% for r in beer.review_set.all %}
        <div class="item">
            <a class="ui header">{{r.user.username}}</a>
            <div class="stars-container">{{r.rating}}</div>
            <p>{{r.content}}</p>
        </div>
        {% endfor %}
    </div>
</div>
</div>


{% endblock %}
