{% extends 'beerreviews/base.html' %}
{% block content %}

<div class="ui container">
    <div class="ui">

        <!--Beer informations-->
        <div class="beer">
            <img src="{{beer.country.flag}}">
            <img class="beer-image ui medium left floated circular image" src="{{beer.imgsrc}}" }>
            <h2>{{beer.name}}</h2>
            <h3>{{beer.maker.name}}</h3>
            <h5><em>Style :</em> {{beer.style.name}}</h5>
            <h5><em>ABV :</em> {{beer.abv}} %</h5>
            <h5><em>EBC :</em> {{beer.ebc}}</h5>
            <h5><em>IBU :</em> {{beer.ibu}}</h5>
        </div>

        <div class="ui beer container">
            <h3>Description</h3>
            <p>{{beer.description}}</p>
        </div>

        <!-- Rate form  -->
        {% if user.is_authenticated %}
        <div class="ui reviews container">
            <h3 class="ui dividing header">Rate this beer</h3>
            <div>
                <form class="ui reply form" method="post" action="{% url 'beers:create_review' beer.id %}">
                    {% csrf_token %}
                    <div class="inline fields">
                        <div class="twelve wide field">
                            <label>Comment</label>
                            <textarea name="comment" maxlength="512"></textarea>
                        </div>
                        <div class="four wide field">
                            <label>Rating</label>
                            <select class="ui dropdown" name="rating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>

                    <button class="ui blue labeled submit icon button" type="submit"><i class="icon edit"></i> Rate
                    </button>
                </form>
                {% include 'beerreviews/messages.html' %}
            </div>
        </div>
        {% endif %}

        <!--Reviews section-->
        <div class="ui comments container">
            <h3 class="ui dividing header">Reviews</h3>
            {% for r in beer.review_set.all %}
            <div class="comment">
                <!--<a class="avatar">-->
                <!--<img class="ui small circular image">-->
                <!--</a>-->
                <div class="content">
                    <a class="author">{{r.user.username}}</a>
                    <div class="metadata">
                        <span class="date">{{r.date}}</span>
                    </div>
                    <div class="stars-container">{{r.rating}}</div>
                    <div class="text">
                        {{r.content}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}
